.ipynb_checkpoints
.idea
__pycache__
/data/raw/*
/data/processed/*
/.mypy_cache/
/.pytest_cache/
/data/processed/
/data/raw/
/models/
/data_drafts/
/notebooks/.ipynb_checkpoints/
/notebooks/drafts/
/notebooks/models/
/data/
